<a href="https://colab.research.google.com/github/harshakh92/pythonrefresher/blob/harshap2/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
df1 = np.array([1,2,3,4])
df2 = np.array([5,8,7,4])

res = df1 + df2
print(res)

[ 6 10 10  8]

In [3]:
res1 = abs(np.subtract(df1,df2))
print(res1)

[4 6 4 0]

In [4]:
flattened = df1.reshape(2,2)
flattened

array([[1, 2],
       [3, 4]])

In [5]:
df3 = np.zeros((6,5))
df3

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [6]:
df4 = np.transpose(df3)
df4

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [8]:
text = "hello"
reversed_text = ""
for char in text:
  reversed_text = char + reversed_text

print(reversed_text)

olleh

In [9]:
print(text[::-1])

olleh

In [10]:
num_rows = 5

for i in range(1, num_rows + 1):
  print("*" * i)

*
**
***
****
*****

In [11]:
num_rows = 5

for i in range(1, num_rows + 1):
    for j in range(i):
        print("*" * i, end=" ")
    print()

*
** **
*** *** ***
**** **** **** ****
***** ***** ***** ***** *****

In [12]:
for i in range(1, num_rows + 1):
    print(" " * (num_rows - i), end="")
    print("*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********